{% extends "base.html" %}

<div class="contain">
{% block content %}
<div class="card-group">
    
    </div>
    <div class="card">
        <br>
        <br>
      <img src="https://www.kindpng.com/picc/m/127-1272273_doctors-logo-black-and-white-vector-png-download.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Doctor</h5>
        
      </div>
      <div class="card-footer">
        
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  <input type="password" class="form-control" id="doctor" placeholder="password">     
  <button type="submit" class="btn btn-primary">login</button> 
</div>
    </div>
    <div class="card">
      <img src="https://static.vecteezy.com/system/resources/previews/000/625/338/original/laboratory-female-assistant-vector.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lab Assistant</h5>
        
      </div>
      <div class="card-footer">
       
  <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  <input type="password" class="form-control" id="lab" placeholder="password">    
  <button type="submit" class="btn btn-primary">login</button> 
</div>
    </div>
  </div>

{% endblock %}
