<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <title>Prediction</title>
  <link rel = "icon" href ="/photos/diabetes.jpg"
        type = "image/x-icon">
</head>

<body>

  <div class="heading">
    <i>
      <h1>Summary</h1>
    </i>
  </div>

  <!-- Optional JavaScript; choose one of the two! -->

  <!-- Option 1: Bootstrap Bundle with Popper -->
  <div class="output">
    <div id='b1' class="alert alert-success" role="alert">

      {{ text }}
    </div>
  </div>
  <div class="clearfix">
    <img src="https://th.bing.com/th/id/OIP.oTNIz_aIwQl8ca658E5bHQHaFj?pid=ImgDet&rs=1"
      class="col-md-6 float-md-end mb-3 ms-md-3" alt="..." height="300px" width="100px">

    <p>
      A diabetes diet simply means eating the healthiest foods in moderate amounts and sticking to regular mealtimes.
    </p>

    <p>
      A diabetes diet is based on eating three meals a day at regular times. This helps you better use the insulin that
      your body produces or gets through a medication.

      A registered dietitian can help you put together a diet based on your health goals, tastes and lifestyle. He or
      she can also talk with you about how to improve your eating habits, such as choosing portion sizes that suit the
      needs for your size and activity level.
    </p>

    <p>
    <div class="food">
      <i>
        <h2> Recommended foods</h2>
      </i>
    </div>
    <i> Make your calories count with these nutritious foods. Choose healthy carbohydrates, fiber-rich foods, fish and
      "good" fats.</i>

    <h5> Healthy carbohydrates</h5>
    During digestion, sugars (simple carbohydrates) and starches (complex carbohydrates) break down into blood glucose.
    Focus on healthy carbohydrates, such as:
    <ul>
      <li>Fruits</li>
      <li> Vegetables</li>
      <li>Whole grains</li>
      <li> Legumes, such as beans and peas</li>
      <li> Low-fat dairy products, such as milk and cheese</li>
      <li> Avoid less healthy carbohydrates, such as foods or drinks with added fats, sugars and sodium.</li>
    </ul>

    <h5>Fiber-rich foods</h5>
    <strong> Dietary fiber includes all parts of plant foods that your body can't digest or absorb. Fiber moderates how
      your body digests and helps control blood sugar levels. Foods high in fiber include:</strong>
    <ul>
      <li>Vegetables</li>
      <li> Fruits</li>
      <li> Nuts</li>
      <li> Legumes, such as beans and peas</li>
      <li> Whole grains</li>
      <li>Heart-healthy fish</li>
      <li> Eat heart-healthy fish at least twice a week. Fish such as salmon, mackerel, tuna and sardines are rich in
        omega-3 fatty acids, which may prevent heart disease.</li>

      <li> Avoid fried fish and fish with high levels of mercury, such as king mackerel.</li>
    </ul>


    <h5>'Good' fats </h5>
    <strong>Foods containing monounsaturated and polyunsaturated fats can help lower your cholesterol levels. These
      include:</strong>
    <ul>
      <li> Avocados</li>
      <li>Nuts</li>
      <li>Canola, olive and peanut oils</li>
      <li>But don't overdo it, as all fats are high in calories.</li>
    </ul>

    <h3> Foods to avoid </h3>
    <i>Diabetes increases your risk of heart disease and stroke by accelerating the development of clogged and hardened
      arteries. Foods containing the following can work against your goal of a heart-healthy diet.

      Saturated fats. Avoid high-fat dairy products and animal proteins such as butter, beef, hot dogs, sausage and
      bacon. Also limit coconut and palm kernel oils.
      Trans fats. Avoid trans fats found in processed snacks, baked goods, shortening and stick margarines.
      Cholesterol. Cholesterol sources include high-fat dairy products and high-fat animal proteins, egg yolks, liver,
      and other organ meats. Aim for no more than 200 milligrams (mg) of cholesterol a day.
      Sodium. Aim for less than 2,300 mg of sodium a day. Your doctor may suggest you aim for even less if you have high
      blood pressure.</i>
    </p>
  </div>
  <div class="symptoms">
    <img src="https://leftsidepains.com/wp-content/uploads/2019/05/healthella_749901439.jpg"
      class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
    <i>
      <h2>Symptoms</h2>
    </i>
    <p>
      Diabetes symptoms vary depending on how much your blood sugar is elevated. Some people, especially those with
      prediabetes or type 2 diabetes, may sometimes not experience symptoms. In type 1 diabetes, symptoms tend to come
      on quickly and be more severe.
    </p>

    <p>
      Some of the signs and symptoms of type 1 diabetes and type 2 diabetes are:
    <ul>
      <li>Increased thirst</li>
      <li>Frequent urination</li>
      <li>Extreme hunger</li>
      <li>Unexplained weight loss</li>
      <li>Presence of ketones in the urine (ketones are a byproduct of the breakdown of muscle and fat that happens when
        there's not enough available insulin)</li>
      <li>Fatigue</li>
      <li>Irritability</li>
      <li>Blurred vision</li>
      <li>Slow-healing sores</li>
      <li>Frequent infections, such as gums or skin infections and vaginal infections</li>
    </ul>
    </p>

    <p>
      Type 1 diabetes can develop at any age, though it often appears during childhood or adolescence. Type 2 diabetes,
      the more common type, can develop at any age, though it's more common in people older than 40.
    </p>
    <p>
      <i>
        <h2>Causes</h2>
      </i>
    </p>
    <i>
      <h4>How insulin works</h4>
    </i>
    Insulin is a hormone that comes from a gland situated behind and below the stomach
    <ul>
      <li>The pancreas secretes insulin into the bloodstream.</li>
      <li>The insulin circulates, enabling sugar to enter your cells.</li>
      <li>nsulin lowers the amount of sugar in your bloodstream.</li>
      <li>As your blood sugar level drops, so does the secretion of insulin from your pancreas.</li>
    </ul>
    <i>
      <h3>Role of Glucose</h3>
    </i>
    Glucose — a sugar — is a source of energy for the cells that make up muscles and other tissues.

    <ul>
      <li>
        Glucose comes from two major sources: food and your liver.
      </li>
      <li>Sugar is absorbed into the bloodstream, where it enters cells with the help of insulin.</li>
      <li>Your liver stores and makes glucose.</li>
      <li>When your glucose levels are low, such as when you haven't eaten in a while, the liver breaks down stored
        glycogen into glucose to keep your glucose level within a normal range.</li>
    </ul>
    <i>
      <h3>Causes of type 1 diabetes</h3>
    </i>
    <p>The exact cause of type 1 diabetes is unknown. What is known is that your immune system — which normally fights
      harmful bacteria or viruses — attacks and destroys your insulin-producing cells in the pancreas. This leaves you
      with little or no insulin. Instead of being transported into your cells, sugar builds up in your bloodstream.</p>
    <p>Type 1 is thought to be caused by a combination of genetic susceptibility and environmental factors, though
      exactly what those factors are is still unclear. Weight is not believed to be a factor in type 1 diabetes.</p>
    <i>
      <h3>Causes of prediabetes and type 2 diabetes</h3>
    </i>
    <p>In prediabetes — which can lead to type 2 diabetes — and in type 2 diabetes, your cells become resistant to the
      action of insulin, and your pancreas is unable to make enough insulin to overcome this resistance. Instead of
      moving into your cells where it's needed for energy, sugar builds up in your bloodstream.</p>
    <p>Exactly why this happens is uncertain, although it's believed that genetic and environmental factors play a role
      in the development of type 2 diabetes too. Being overweight is strongly linked to the development of type 2
      diabetes, but not everyone with type 2 is overweight.</p>
    <i>
      <h3>Causes of gestational diabetes</h3>
    </i>
    <p>
      During pregnancy, the placenta produces hormones to sustain your pregnancy. These hormones make your cells more
      resistant to insulin.
    </p>
    <p>
      Normally, your pancreas responds by producing enough extra insulin to overcome this resistance. But sometimes your
      pancreas can't keep up. When this happens, too little glucose gets into your cells and too much stays in your
      blood, resulting in gestational diabetes.
    </p>
  </div>
  <div class="riskred">
    <img src="https://lerablog.org/wp-content/uploads/2018/08/Risk-Factors-of-Diabete.png"
      class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
    <div class="risk">
      <i>
        <h2>Risk factors</h2>
      </i>
    </div>
    <br>
    <h3>Risk factors for type 1 diabetes</h3>
    <br>
    <p>
      Although the exact cause of type 1 diabetes is unknown, factors that may signal an increased risk include:
    </p>

    <strong>Family history</strong> Your risk increases if a parent or sibling has type 1 diabetes.
    <p>
      <strong>Environmental factors.</strong> Circumstances such as exposure to a viral illness likely play some role in
      type 1 diabetes.
    </p>
    <p> <strong> The presence of damaging immune system cells (autoantibodies).</strong> Sometimes family members of
      people with type 1 diabetes are tested for the presence of diabetes autoantibodies. If you have these
      autoantibodies, you have an increased risk of developing type 1 diabetes. But not everyone who has these
      autoantibodies develops diabetes.
    </p>
    <p> <strong> Geography.</strong> Certain countries, such as Finland and Sweden, have higher rates of type 1
      diabetes.
    </p>
    </p>
    <h3>Risk factors for prediabetes and type 2 diabetes</h3>
    <p>
      Researchers don't fully understand why some people develop prediabetes and type 2 diabetes and others don't. It's
      clear that certain factors increase the risk, however, including:
    </p>

    <p>
      <strong>Weight.</strong>
    <p>The more fatty tissue you have, the more resistant your cells become to insulin.</p>
    <strong>Inactivity.</strong>
    <p>The less active you are, the greater your risk. Physical activity helps you control your weight, uses
      up glucose as energy and makes your cells more sensitive to insulin.</p>
    <strong> Family history.</strong>
    <p> risk increases if a parent or sibling has type 2 diabetes.</p>
    <strong> Race or ethnicity.</strong>
    <p> Although it's unclear why, certain people — including Black, Hispanic, American Indian and
      Asian American people — are at higher risk.</p>
    <strong> Age.</strong>
    <p>Your risk increases as you get older. This may be because you tend to exercise less, lose muscle mass and
      gain weight as you age. But type 2 diabetes is also increasing among children, adolescents and younger adults.</p>
    <strong> Gestational diabetes. </strong>
    <p>If you developed gestational diabetes when you were pregnant, your risk of developing
      prediabetes and type 2 diabetes increases. If you gave birth to a baby weighing more than 9 pounds (4 kilograms),
      you're also at risk of type 2 diabetes.</p>
    <strong> Polycystic ovary syndrome.</strong>
    <p> For women, having polycystic ovary syndrome — a common condition characterized by
      irregular menstrual periods, excess hair growth and obesity — increases the risk of diabetes.
      High blood pressure. Having blood pressure over 140/90 millimeters of mercury (mm Hg) is linked to an increased
      risk of type 2 diabetes.</p>
    <strong>Abnormal cholesterol and triglyceride levels.</strong>
    <p>If you have low levels of high-density lipoprotein (HDL), or "good,"
      cholesterol, your risk of type 2 diabetes is higher. Triglycerides are another type of fat carried in the blood.
      People with high levels of triglycerides have an increased risk of type 2 diabetes. Your doctor can let you know
      what your cholesterol and triglyceride levels are.</p>
    </p>
    <h3>Risk factors for gestational diabetes</h3>
    <p>
      Pregnant women can develop gestational diabetes. Some women are at greater risk than are others. Risk factors for
      gestational diabetes include:
    </p>
    <strong>Age.</strong> </p>Women older than age 25 are at increased risk.</p>
    <strong>Family or personal history. </strong>
    <p>Your risk increases if you have prediabetes — a precursor to type 2 diabetes — or if a close family member, such
      as a parent or sibling, has type 2 diabetes. You're also at greater risk if you had gestational diabetes during a
      previous pregnancy, if you delivered a very large baby or if you had an unexplained stillbirth.</p>
    <strong>Weight.</strong>
    <p> Being overweight before pregnancy increases your risk.</p>
    <strong>Race or ethnicity.</strong>
    <p> For reasons that aren't clear,
      women who are Black, Hispanic, American Indian or Asian American are more likely to develop gestational diabetes.
    </p>
    <h3>Complications</h3>
    <i>Long-term complications of diabetes develop gradually. The longer you have diabetes — and the less controlled
      your blood sugar — the higher the risk of complications. Eventually, diabetes complications may be disabling or
      even life-threatening. Possible complications include:</i>
      <br>
    <strong>Cardiovascular disease.</strong>
    <p> Diabetes dramatically increases the risk of various cardiovascular problems, including
      coronary artery disease with chest pain (angina), heart attack, stroke and narrowing of arteries
      (atherosclerosis).
      If you have diabetes, you're more likely to have heart disease or stroke.</p>
    <strong>Nerve damage (neuropathy).</strong>
    <p>Excess sugar can injure the walls of the tiny blood vessels (capillaries) that nourish
      your nerves, especially in your legs. This can cause tingling, numbness, burning or pain that usually begins at
      the
      tips of the toes or fingers and gradually spreads upward.</p>

   <p> Left untreated, you could lose all sense of feeling in the affected limbs. Damage to the nerves related to digestion
    can cause problems with nausea, vomiting, diarrhea or constipation. For men, it may lead to erectile dysfunction.
</p>
    <strong>Kidney damage (nephropathy). </strong>
    <p>The kidneys contain millions of tiny blood vessel clusters (glomeruli) that filter
      waste from your blood. Diabetes can damage this delicate filtering system. Severe damage can lead to kidney
      failure
      or irreversible end-stage kidney disease, which may require dialysis or a kidney transplant.</p>
    <strong>Eye damage (retinopathy).</strong>
    <p> Diabetes can damage the blood vessels of the retina (diabetic retinopathy), potentially
      leading to blindness. Diabetes also increases the risk of other serious vision conditions, such as cataracts and
      glaucoma.</p>
    <strong>Foot damage.</strong>
    <p> Nerve damage in the feet or poor blood flow to the feet increases the risk of various foot
      complications. Left untreated, cuts and blisters can develop serious infections, which often heal poorly. These
      infections may ultimately require toe, foot or leg amputation.</p>
    <strong>Skin conditions. </strong>
    <p>Diabetes may leave you more susceptible to skin problems, including bacterial and fungal
      infections.</p>
    <strong>Hearing impairment. </strong>
    <p>Hearing problems are more common in people with diabetes.</p>
    <strong>Alzheimer's disease. </strong>
    <p>Type 2 diabetes may increase the risk of dementia, such as Alzheimer's disease. The poorer your
      blood sugar control, the greater the risk appears to be. Although there are theories as to how these disorders
      might
      be connected, none has yet been proved.</p>
    <strong> Depression.</strong>
    <p>Depression symptoms are common in people with type 1 and type 2 diabetes. Depression can affect diabetes
      management.</p>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>

  <!-- Option 2: Separate Popper and Bootstrap JS -->
  <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>

<style>
  .clearfix {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .output {
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .heading {
    margin-top: 20px;
    margin-left: 20px;
  }

  .food {
    margin-bottom: 20px;
  }

  .symptoms {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .riskred {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
</style>