<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>prediction</title>

</head>

<body>
    <div class="title">
        <i>
            <h1>Summary</h1>
        </i>
    </div>
    <div class="output">
        <div id='b1' class="alert alert-success" role="alert">

            {{ text }}
        </div>
    </div>
    <div class="clearfix">
        <img src="https://www.cdc.gov/cancer/breast/basic_info/images/female-breast-diagram-750px.jpg?_=41558"
            class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
        <i>
            <h4>Overview</h4>
        </i>
        <p>
            Breast cancer is a disease in which cells in the breast grow out of control. There are different kinds of
            breast cancer. The kind of breast cancer depends on which cells in the breast turn into cancer.

            Breast cancer can begin in different parts of the breast. A breast is made up of three main parts: lobules,
            ducts, and connective tissue. The lobules are the glands that produce milk. The ducts are tubes that carry
            milk to the nipple. The connective tissue (which consists of fibrous and fatty tissue) surrounds and holds
            everything together. Most breast cancers begin in the ducts or lobules.

            Breast cancer can spread outside the breast through blood vessels and lymph vessels. When breast cancer
            spreads to other parts of the body, it is said to have metastasized.
        </p>

        <p>
            Substantial support for breast cancer awareness and research funding has helped created advances in the
            diagnosis and treatment of breast cancer. Breast cancer survival rates have increased, and the number of
            deaths associated with this disease is steadily declining, largely due to factors such as earlier detection,
            a new personalized approach to treatment and a better understanding of the disease.
        </p>

        <h4>Symptoms</h4>
        <i>
            <p>Signs and symptoms of breast cancer may include:</p>
        </i>


        <ul>
            <li>A breast lump or thickening that feels different from the surrounding tissue</li>
            <li>Change in the size, shape or appearance of a breast</li>
            <li>Changes to the skin over the breast, such as dimpling</li>
            <li>A newly inverted nipple</li>
            <li>Peeling, scaling, crusting or flaking of the pigmented area of skin surrounding the nipple (areola) or
                breast skin</li>
            <li>Redness or pitting of the skin over your breast, like the skin of an orange</li>
        </ul>

        <strong>
            <h4>Causes</h4>
        </strong>

        <p>Doctors know that breast cancer occurs when some breast cells begin to grow abnormally. These cells divide
            more rapidly than healthy cells do and continue to accumulate, forming a lump or mass. Cells may spread
            (metastasize) through your breast to your lymph nodes or to other parts of your body.</p>

        <p>Breast cancer most often begins with cells in the milk-producing ducts (invasive ductal carcinoma). Breast
            cancer may also begin in the glandular tissue called lobules (invasive lobular carcinoma) or in other cells
            or tissue within the breast.</p>
        <p>Researchers have identified hormonal, lifestyle and environmental factors that may increase your risk of
            breast cancer. But it's not clear why some people who have no risk factors develop cancer, yet other people
            with risk factors never do. It's likely that breast cancer is caused by a complex interaction of your
            genetic makeup and your environment.</p>
        <h4>Inherited breast cancer</h4>
        <p>Doctors estimate that about 5 to 10 percent of breast cancers are linked to gene mutations passed through
            generations of a family.

            A number of inherited mutated genes that can increase the likelihood of breast cancer have been identified.
            The most well-known are breast cancer gene 1 (BRCA1) and breast cancer gene 2 (BRCA2), both of which
            significantly increase the risk of both breast and ovarian cancer.</p>
        <p>f you have a strong family history of breast cancer or other cancers, your doctor may recommend a blood test
            to help identify specific mutations in BRCA or other genes that are being passed through your family.

            Consider asking your doctor for a referral to a genetic counselor, who can review your family health
            history. A genetic counselor can also discuss the benefits, risks and limitations of genetic testing to
            assist you with shared decision-making.</p>
        <strong>
            <h5>Risk factors</h5>
        </strong>

        <p>A breast cancer risk factor is anything that makes it more likely you'll get breast cancer. But having one or
            even several breast cancer risk factors doesn't necessarily mean you'll develop breast cancer. Many women
            who develop breast cancer have no known risk factors other than simply being women.</p>

        <ul>
            <li> Being female -Women are much more likely than men are to develop breast cancer.</li>
            <li>Increasing age - Your risk of breast cancer increases as you age.</li>
            <li>A personal history of breast conditions - If you've had a breast biopsy that found lobular carcinoma in
                situ (LCIS) or atypical hyperplasia of the breast, you have an increased risk of breast cancer.</li>
            <li>A personal history of breast cancer - If you've had breast cancer in one breast, you have an increased
                risk of developing cancer in the other breast.</li>
            <li>A family history of breast cancer - If your mother, sister or daughter was diagnosed with breast cancer,
                particularly at a young age, your risk of breast cancer is increased. Still, the majority of people
                diagnosed with breast cancer have no family history of the disease.</li>
            <li>Inherited genes that increase cancer risk -Certain gene mutations that increase the risk of breast
                cancer can be passed from parents to children. The most well-known gene mutations are referred to as
                BRCA1 and BRCA2. These genes can greatly increase your risk of breast cancer and other cancers, but they
                don't make cancer inevitable.</li>
            <li>Radiation exposure - If you received radiation treatments to your chest as a child or young adult, your
                risk of breast cancer is increased.</li>
            <li>Having never been pregnant - Women who have never been pregnant have a greater risk of breast cancer
                than do women who have had one or more pregnancies.</li>

        </ul>

        <h4>Prevention</h4>
        <p><strong>Ask your doctor about breast cancer screening.</strong> Discuss with your doctor when to begin breast
            cancer screening exams and tests, such as clinical breast exams and mammograms.

            Talk to your doctor about the benefits and risks of screening. Together, you can decide what breast cancer
            screening strategies are right for you.</p>
        <p><strong>Become familiar with your breasts through breast self-exam for breast awareness.</strong> Women may
            choose to become familiar with their breasts by occasionally inspecting their breasts during a breast
            self-exam for breast awareness. If there is a new change, lumps or other unusual signs in your breasts, talk
            to your doctor promptly.

            Breast awareness can't prevent breast cancer, but it may help you to better understand the normal changes
            that your breasts undergo and identify any unusual signs and symptoms.</p>
        <p><strong>Excercise</strong>Exercise most days of the week. Aim for at least 30 minutes of exercise on most
            days of the week. If you haven't been active lately, ask your doctor whether it's OK and start slowly.</p>
        <p><strong>Limit postmenopausal hormone therapy.</strong> Combination hormone therapy may increase the risk of
            breast cancer. Talk with your doctor about the benefits and risks of hormone therapy.

            Some women experience bothersome signs and symptoms during menopause and, for these women, the increased
            risk of breast cancer may be acceptable in order to relieve menopause signs and symptoms.

            To reduce the risk of breast cancer, use the lowest dose of hormone therapy possible for the shortest amount
            of time.</p>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>
<style>
    .clearfix {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .title {
        margin-top: 20px;
        margin-left: 20px;
    }

    .output {
        margin-top: 20px;
        margin-left: 300px;
        margin-right: 300px;
    }
</style>