<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>prediction</title>
    <link rel="icon"
        href=https://www.bing.com/th?id=A7b6b70df5d917ee70e21da886fb76af8&w=110&h=110&c=7&rs=1&qlt=80&o=6&dpr=1.5&pid=SANGAM
        type="image/x-icon">
</head>

<body>
    <div class="title">
        <i>
            <h1>Summary</h1>
        </i>
    </div>
    <div class="output">
        <div id='b1' class="alert alert-success" role="alert">

            {{ text }}
        </div>
    </div>
    <div class="clearfix">
        <img src="https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2013/08/26/10/08/ds00094_im00938_mcdc7_heartattackthu_jpg.jpg"
            class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
        <i>
            <h4>Overview</h4>
        </i>
        <p>
            A heart attack occurs when the flow of blood to the heart is blocked. The blockage is most often a buildup
            of fat, cholesterol and other substances, which form a plaque in the arteries that feed the heart (coronary
            arteries).
        </p>

        <p>
            Sometimes, a plaque can rupture and form a clot that blocks blood flow. The interrupted blood flow can
            damage or destroy part of the heart muscle.
        </p>

        <p>
            A heart attack, also called a myocardial infarction, can be fatal, but treatment has improved dramatically
            over the years. It's crucial to call 911 or emergency medical help if you think you might be having a heart
            attack.
        </p>
        <h4>Symptoms</h4>
        <strong>Common heart attack signs and symptoms include:</strong>
        <ul>
            <li>Pressure, tightness, pain, or a squeezing or aching sensation in your chest or arms that may spread to
                your neck, jaw or back</li>
            <li>Nausea, indigestion, heartburn or abdominal pain</li>
            <li>Shortness of breath</li>
            <li>Cold sweat</li>
            <li>Fatigue</li>
            <li>Lightheadedness or sudden dizziness</li>
        </ul>
        <strong>
            <h4>Heart attack symptoms vary</h4>
        </strong>
        <p>Not all people who have heart attacks have the same symptoms or have the same severity of symptoms. Some
            people have mild pain; others have more severe pain. Some people have no symptoms. For others, the first
            sign may be sudden cardiac arrest. However, the more signs and symptoms you have, the greater the chance
            you're having a heart attack.</p>
        <p>Not all people who have heart attacks have the same symptoms or have the same severity of symptoms. Some
            people have mild pain; others have more severe pain. Some people have no symptoms. For others, the first
            sign may be sudden cardiac arrest. However, the more signs and symptoms you have, the greater the chance
            you're having a heart attack.</p>
        <strong>
            <h3>Causes</h3>
        </strong>
        <p>A heart attack occurs when one or more of your coronary arteries becomes blocked. Over time, a buildup of
            fatty deposits, including cholesterol, form substances called plaques, which can narrow the arteries
            (atherosclerosis). This condition, called coronary artery disease, causes most heart attacks.</p>
        <p>
            During a heart attack, a plaque can rupture and spill cholesterol and other substances into the bloodstream.
            A blood clot forms at the site of the rupture. If the clot is large, it can block blood flow through the
            coronary artery, starving the heart of oxygen and nutrients (ischemia).
        </p>
        <p>
            During a heart attack, a plaque can rupture and spill cholesterol and other substances into the bloodstream.
            A blood clot forms at the site of the rupture. If the clot is large, it can block blood flow through the
            coronary artery, starving the heart of oxygen and nutrients (ischemia).
        </p>
        
            <h3>Risk Factors</h3>
        
        <p>
            Certain factors contribute to the unwanted buildup of fatty deposits (atherosclerosis) that narrows arteries
            throughout your body. You can improve or eliminate many of these risk factors to reduce your chances of
            having a first or another heart attack.
        </p>
        <i>Heart attack risk factors include:</i>
        <ul>
            <li><strong>Age.</strong>
                <p>Men age 45 or older and women age 55 or older are more likely to have a heart attack than are younger
                    men and women.
            </li>
            </p>
            <li><strong>Tobacco.</strong>
                <p>This includes smoking and long-term exposure to secondhand smoke.
            </li>
            </p>
            <li><strong>High blood pressure</strong>
                <p>Over time, high blood pressure can damage arteries that lead to your heart. High blood pressure that
                    occurs with other conditions, such as obesity, high cholesterol or diabetes, increases your risk
                    even more.
            </li>
            </p>
            <li><strong>High blood cholesterol or triglyceride levels.</strong>
                <p>A high level of low-density lipoprotein (LDL) cholesterol ("bad" cholesterol) is most likely to
                    narrow arteries. A high level of triglycerides, a type of blood fat related to your diet, also
                    increases your risk of a heart attack. However, a high level of high-density lipoprotein (HDL)
                    cholesterol ("good" cholesterol) may lower your risk.
                </p>
            </li>
            <li><strong>Obesity.</strong>
                <p>Obesity is linked with high blood cholesterol levels, high triglyceride levels, high blood pressure
                    and diabetes. Losing just 10% of your body weight can lower this risk.
            </li>
            </p>
            <li><strong>Diabetes</strong>
                <p>Not producing enough of a hormone secreted by your pancreas (insulin) or not responding to insulin
                    properly causes your body's blood sugar levels to rise, increasing your risk of a heart attack.
            </li>
            </p>
            <li><strong>Metabolic syndrome.</strong>
                <p>This syndrome occurs when you have obesity, high blood pressure and high blood sugar. Having
                    metabolic syndrome makes you twice as likely to develop heart disease than if you don't have it.
            </li>
            </p>
            <li><strong>Family history of heart attacks.</strong>
                <p>If your siblings, parents or grandparents have had early heart attacks (by age 55 for males and by
                    age 65 for females), you might be at increased risk.
                </p>
            </li>
            <li><strong>Lack of physical activity.</strong>
                <p> Being inactive contributes to high blood cholesterol levels and obesity. People who exercise
                    regularly have better heart health, including lower blood pressure.
                </p>
            </li>
            <li><strong>Stress</strong>
                <p>You might respond to stress in ways that can increase your risk of a heart attack.
                </p>
            </li>
            <li><strong>Illicit drug use. </strong>
                <p>Using stimulant drugs, such as cocaine or amphetamines, can trigger a spasm of your coronary arteries
                    that can cause a heart attack.
            </li>
            </p>
            <li><strong>A history of preeclampsia.</strong>
                <p>.This condition causes high blood pressure during pregnancy and increases the lifetime risk of heart
                    disease.
            </li>
            </p>
            <li><strong>An autoimmune condition.</strong>
                <p>Having a condition such as rheumatoid arthritis or lupus can increase your risk of a heart attack.
            </li>
            </p>
        </ul>
        <h3>Complications</h3>
        <p>
            <i>Complications are often related to the damage done to your heart during a heart attack, which can lead
                to:</i>
        <ul>
            <li><strong>Abnormal heart rhythms (arrhythmias).</strong>
                <p>Electrical "short circuits" can develop, resulting in abnormal heart rhythms, some of which can be
                    serious, and may lead to death.
            </li>
            </p>
            <li><strong>Heart failure. </strong>
                <p>A heart attack might damage so much heart tissue that the remaining heart muscle can't pump enough
                    blood out of your heart. Heart failure can be temporary, or it can be a chronic condition resulting
                    from extensive and permanent damage to your heart.
            </li>
            </p>
            <li><strong>Sudden cardiac arrest.</strong>
                <p>Without warning, your heart stops due to an electrical disturbance that causes an abnormal heart
                    rhythm (arrhythmia). Heart attacks increase the risk of sudden cardiac arrest, which can cause death
                    without immediate treatment.
            </li>
        </ul>
        </p>
        <h3>Diet</h3>
        <p>Although you might know that eating certain foods can increase your heart disease risk, changing your eating
            habits is often tough. Whether you have years of unhealthy eating under your belt or you simply want to
            fine-tune your diet, here are eight heart-healthy diet tips. Once you know which foods to eat more of and
            which foods to limit, you'll be on your way toward a heart-healthy diet.</p>
        <strong>
            <h6>Control your portion size</h6>
        </strong>
        <p>How much you eat is just as important as what you eat. Overloading your plate, taking seconds and eating
            until you feel stuffed can lead to eating more calories than you should. Portions served in restaurants are
            often more than anyone needs.</p>
        <p>
            <i> Following a few simple tips to control food portion size can help you shape up your diet as well as your
                heart and waistline:
            </i>
        </p>
        <ul>
            <li>
                Use a small plate or bowl to help control your portions.
            </li>
            <li>
                Eat more low-calorie, nutrient-rich foods, such as fruits and vegetables
            </li>
            <li>Eat smaller amounts of high-calorie, high-sodium foods, such as refined, processed or fast foods</li>
        </ul>
        <h5>Eat more vegetables and fruits</h5>
        <p>Vegetables and fruits are good sources of vitamins and minerals. Vegetables and fruits are also low in
            calories and rich in dietary fiber. Vegetables and fruits, like other plants or plant-based foods, contain
            substances that may help prevent cardiovascular disease. Eating more fruits and vegetables may help you cut
            back on higher calorie foods, such as meat, cheese and snack foods.</p>
        <table class="table table-striped">
            <tr>
                <th>Fruits and vegetables to choose</th>
                <th>Fruits and vegetables to limit</th>
            </tr>
            <tr>
                <td>Fresh or frozen vegetables and fruits</td>
                <td>coconut</td>
            </tr>
            <tr>
                <td>Low-sodium canned vegetables</td>
                <td>Vegetables with creamy sauces</td>
            </tr>
            <tr>
                <td>Canned fruit packed in juice or water</td>
                <td>Fried or breaded vegetables</td>
            </tr>
        </table>
        <h5>Limit unhealthy fats</h5>
        <p>Limiting how much saturated and trans fats you eat is an important step to reduce your blood cholesterol and
            lower your risk of coronary artery disease. A high blood cholesterol level can lead to a buildup of plaques
            in your arteries, called atherosclerosis, which can increase your risk of heart attack and stroke.</p>
        <h5>Choose low-fat protein sources</h5>
        <p>Lean meat, poultry and fish, low-fat dairy products, and eggs are some of your best sources of protein.
            Choose lower fat options, such as skinless chicken breasts rather than fried chicken patties and skim milk
            rather than whole milk.</p>
        <p>Fish is a good alternative to high-fat meats. Certain types of fish are rich in omega-3 fatty acids, which
            can lower blood fats called triglycerides. You'll find the highest amounts of omega-3 fatty acids in
            cold-water fish, such as salmon, mackerel and herring. Other sources are flaxseed, walnuts, soybeans and
            canola oil.</p>

    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
</body>

</html>
<style>
    .clearfix {
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .title {
        margin-top: 20px;
        margin-left: 20px;
    }

    .output {
        margin-top: 20px;
        margin-left: 300px;
        margin-right: 300px;
    }
</style>